
/* .div{


    min-height:90vh;
    background-color:transparent;
    display:flex;
    flex-direction:column;
    outline: none;
} */

/* .home{
    text-align:center;
                position: relative;
                left: 250px;
                bottom: -100px;
                height: 200px;
                width: 500px;
                color: white;
} */

.cards{
    height: 80%;
    display:flex;
    margin: auto 0 ;
    justify-content: space-around;
    flex-wrap:wrap;
    color: white;
    margin-top: -3.5%
}

.filter{
    display: flex;
    margin: auto;
    justify-content:flex-end;

}

.sort{
    display: right;
    margin-right: -81.7%;
    margin-top: -4%;
  
    
    
}