
 .footer {
   
     margin: 0;
    padding: 0;
    background-color: rgba(63, 62, 62, 0.377);
    display:flex;
     flex-direction: row;
  }  

.footer .footerlinkedin{
     display: flex;
     margin-top: 465% ;
     margin-left: 3%;
     /* margin-right:50px;-30%
     margin-top:50%; */
  }

